%p Welcome to My Diet. To get started we need a few things, specifically:
= link_to 'Set Up Your Account', '/users/sign_up', :class => 'btn sign-up'
%ol.numbered
  %li You'll have to setup an account.
  %li You'll need to setup a Meal Plan.
  %li You'll have to set a start date.
%p To get started, click the button on the right.