@import 'partials/reset';
@import 'partials/mixins';
@import url('http://fonts.googleapis.com/css?family=Euphoria+Script|Quattrocento+Sans:400,700,400italic');

html, body {
  background: #2f2f2f;
  font-family: 'Quattrocento Sans', Helvetica, Arial, sans-serif;
}

#container {
  width: 958px;
  margin: 3em auto;
  background: #fff;
}

header {
  padding: 35px 40px 0;
  background: image-url('page-top.png') 0 0 no-repeat;
  h1 {
    font-family: 'Euphoria Script', cursive;
    color: #333;
    font-size: 67px;
    margin: 0 0 .4em;
  }
}

#content {
  padding: 0 40px;
  p {
    margin: 1em 0;
  }
  ul, ol {
    margin: 1.5em 1em;
    li {
      margin: .5em 0 .5em 1.25em;
    }
  }
  ul {
    list-style: disc;
  }
  ol {
    list-style: decimal;
  }
}

#sign-up {
  display: block;
  float: right;
  background: #333;
  color: #fff;
  text-decoration: none;
  padding: 1em 1.5em;
  margin: 0 1.5em 0 0;
  font-size: 24px;
  @include border-radius(4px);
  &:hover {
    background: #000;
  }
}

footer {
  height: 69px;
  margin: 40px 0 0;
  background: image-url('page-bottom.png') 0 0 no-repeat;
}